<!DOCTYPE html>
<html>
  <head>
    <title>xClusive</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('components/nav') %>
    <h1>xClusive</h1>
    <p>Welcome to xClusive message board</p>
    <% if (locals.messages.length) { %>
    <ul>
      <% locals.messages.forEach(function(message) { %>
      <li>
        <a href="<%= message.url %>">
          <h2><%= message.title %></h2>
        </a>
        <p><%= message.contents %></p>
        <p><%= message.author.username %></p>
      </li>
      <% }) %> <% } %>
    </ul>
  </body>
</html>
