<!DOCTYPE html>
<html>
  <head>
    <title>xClusive</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('components/nav') %>
    <h1>
      <a style="display: inline; text-decoration: none" href="/user/permissions"
        >x</a
      >Clusive
    </h1>
    <p>Welcome to xClusive message board</p>
    <% if (locals.messages.length) { %>

    <ul class="message-board">
      <% locals.messages.forEach(function(message) { %>
      <li>
        <div class="message-container">
          <span>
            <a href="<%= message.url %>">
              <h2 style="display: inline-block"><%= message.title %></h2></a
            >
            by <%= message.author.username %>
          </span>

          <p><%= message.contents %></p>
          <% if (locals.currentUser?.isAdmin) { %>
          <form action="<%= message.url %>/delete" method="POST">
            <button>Delete</button>
          </form>
          <% } %>
        </div>
      </li>
      <% }) %> <% } %>
    </ul>
  </body>
</html>
